<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="container">
        <div class="site-name">SoftNest</div>
        <h1>サインアップ</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="ユーザー名" required>
            <input type="email" name="email" placeholder="メールアドレス" required>
            <input type="password" name="password" placeholder="パスワード" required>
            <button type="submit">サインアップ</button>
        </form>
        <a href="/login/" class="login-link">ログイン</a>
    </div>
</body>
</html>
