<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}

    {% endblock %}
    {% block title %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="logo">
            <h1><a href="/">SoftNest</a></h1>
        </div>
        <nav>
            <p><a href="/product/?page=1">Product</a></p>
            <p>About</p>
            <p class="search_show"><i class="fa-solid fa-magnifying-glass"></i></p>
            {% if login_check %}
                <p><a href="/kart/"><i class="fa-solid fa-cart-shopping"></i></a></p>
            {% else %}
                <p><a href="/user/login/"><i class="fa-solid fa-right-to-bracket"></i></a></p>
            {% endif %}
            <p class="bar"><i class="fa-solid fa-bars"></i></p>
        </nav>
    </header>
    <section class="search">
        <form id="searchForm" action="/product/" method="GET">
            <input type="text"  id="searchInput" placeholder="検索...">
            <button type="submit" name="search">検索</button>
            <button type="button" class="x"><i class="fa-solid fa-xmark"></i></button>
        </form>
    </section>
    <section class="side_section">
        <div class="side">
            <h1>SoftNest</h1>
            <nav>
                <h2>商品</h2>
                <ul>
                    <li><a href="/product/"><p>商品一覧</p></a></li>
                    <li><a href="/product/?type=plain_color"><p>無地</p></a></li>
                    <li><a href="/product/?type=patterned"><p>模様あり</p></a></li>
                    <li><a href="/product/?type=character"><p>キャラクター</p></a></li>
                    <li><a href="/favorite_product/"><p>お気に入り商品</p></a></li>
                </ul>
                <h2>カート</h2>
                <ul>
                    <li><a href="/kart/"><p>カート</p></a></li>
                </ul>
                <h2>購入履歴</h2>
                <ul>
                    <li><a href="{% url 'purchase_history' %}"><p>購入履歴</p></a></li>
                </ul>
            </nav>
        </div>
    </section>
    
    
    {% block content %}
    {% endblock %}
    <footer>
        <div class="left">
            <div class="logo">
                <h1><a href="/">SoftNest</a></h1>
            </div>
            <nav>
                <p><i class="fa-brands fa-x-twitter"></i></p>
                <p><i class="fa-brands fa-instagram"></i></p>
                <p><i class="fa-brands fa-facebook-f"></i></p>
                <p><i class="fa-brands fa-line"></i></p>
                <p><i class="fa-brands fa-tiktok"></i></p>
            </nav>
        </div>
        <nav class="right">
            
            <ul>
                <h3>商品・カテゴリ別</h3>
                <li><a href="/product/">全ての商品</a></li>
                <li><a href="/product/?type=plain_color">無地</a></li>
                <li><a href="/product/?type=patterned">模様あり</a></li>
                <li><a href="/product/?type=character">キャラクター</a></li>
            </ul>
            <ul>
                <h3>カート・履歴</h3>
                <li><a href="/kart/">カート</a></li>
                <li><a href="{% url 'purchase_history' %}">履歴</a></li>
            </ul>
            <button class="top_arrow" onclick="scrollToTop()">
                <p><i class="fa-solid fa-arrow-up"></i></p>
                <p>TOP</p>
            </button>
        </nav>
    </footer>
    <script src="{% static 'js/base.js' %}"></script>
    {% block javascript %}

    {% endblock %}
    
</body>
</html>