<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}

    {% endblock %}
    {% block title %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="logo">
            <h1><a href="/">SoftNest</a></h1>
        </div>
        <nav>
            <p><a href="/product/?page=1">Product</a></p>
            <p>About</p>
            <p><i class="fa-solid fa-magnifying-glass"></i></p>
            {% if login_check %}
                <p><a href="/kart/"><i class="fa-solid fa-cart-shopping"></i></a></p>
            {% else %}
                <p><a href="/user/login/"><i class="fa-solid fa-right-to-bracket"></i></a></p>
            {% endif %}
            <p><i class="fa-solid fa-bars"></i></p>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="left">
            <div class="logo">
                <h1><a href="/">SoftNest</a></h1>
            </div>
            <nav>
                <p><i class="fa-brands fa-x-twitter"></i></p>
                <p><i class="fa-brands fa-instagram"></i></p>
                <p><i class="fa-brands fa-facebook-f"></i></p>
                <p><i class="fa-brands fa-line"></i></p>
                <p><i class="fa-brands fa-tiktok"></i></p>
            </nav>
        </div>
        <nav class="right">
            
            <ul>
                <h3>商品・カテゴリ別</h3>
                <li>全ての商品</li>
                <li>無地</li>
                <li>模様あり</li>
                <li>キャラクター</li>
            </ul>
            <ul>
                <h3>カート・履歴</h3>
                <li>カート</li>
                <li>履歴</li>
            </ul>
            <button>
                <p>Topへ</p>
            </button>
        </nav>
    </footer>
    {% block javascript %}

    {% endblock %}
    
</body>
</html>