{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/kart.css' %}">
{% endblock %}

{% block title %}
<title>カート</title>
{% endblock %}

{% block content %}
<form class="cart-page" method="post">
    {% csrf_token %}
    {% if not kart_data %}
    <h1 class="none_product">カートに入っている商品はありません。</h1>
    {% endif %}
    {% for product in kart_data %}
        <div class="cart-item">
            <img src="{% static 'images/product_images/' %}{{ product.image }}" alt="Cushion Image" class="product-image">
            <div class="product-details">
                <h2 class="product-name">{{ product.product.name }}</h2>
                <p class="price">値段:{{ product.product.price }}円</p>
                <p class="product-color">Color: <span class="color-swatch" style="background-color: {{ product.color }};"></span></p>
                <div class="quantity-selector">
                    <button class="quantity-minus" type="button">−</button>
                    <input type="number" class="quantity-input" value="{{ product.count }}" min="1" max="{{ product.count|add:product.product.stock }}" name="{{ product.id }}">
                    <button class="quantity-plus" type="button">+</button>
                </div>
            </div>
            <p class="product-price">{{ product.product.price|multiply:product.count }}円</p>
        </div>
    {% endfor %}
    <!-- 他の商品も同様に追加 -->
    <div class="pay">
        <p>カート内合計金額:<span class="sum_price"></span></p>
        <button type="submit">レジに進む</button>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/kart.js' %}"></script>
{% endblock %}