{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock %}
{% block title %}
<title>商品リストページ</title>
{% endblock %}
{% block content %}
<section class="product_section">
    <!-- <div class="row"> -->
        <!-- <div class="product">
            <a href="">
                <div class="img">
                    <img src="{% static 'images/products/1.webp' %}" alt="">
                </div>
                <div class="description">
                    <div class="color">

                    </div>
                    <h3>クッション</h3>
                    <p>177000円</p>
                </div>
            </a>
        </div>
        <div class="product">
            <a href="">
                <div class="img">
                    <img src="{% static 'images/products/1.webp' %}" alt="">
                </div>
                <div class="description">
                    <div class="color">

                    </div>
                    <h3>クッション</h3>
                    <p>177000円</p>
                </div>
            </a>
        </div>
        <div class="product">
            <a href="">
                <div class="img">
                    <img src="{% static 'images/products/1.webp' %}" alt="">
                </div>
                <div class="description">
                    <div class="color">

                    </div>
                    <h3>クッション</h3>
                    <p>177000円</p>
                </div>
            </a>
        </div>
        <div class="product">
            <a href="">
                <div class="img">
                    <img src="{% static 'images/products/1.webp' %}" alt="">
                </div>
                <div class="description">
                    <div class="color">

                    </div>
                    <h3>クッション</h3>
                    <p>177000円</p>
                </div>
            </a>
        </div> -->
        

    <!-- </div> -->
    {% for product in products %}
    {% if forloop.counter0|divisibleby:"4" %}
        <div class="row">
    {% endif %}
        <div class="product">
            <a href="/product/{{ product.id }}">
                <div class="img">
                    <img src="{% static 'images/product_images/' %}{{ product.top_img }}" alt="">
                </div>
                <div class="description">
                    <div class="color">
                        {% for color in product.color_set.all %}
                        <p style="background-color: {{ color.color }};"></p>
                        {% endfor %}
                    </div>
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.price }}円</p>
                </div>
            </a>
        </div>
    {% if forloop.counter0|divisibleby:"3" and not forloop.first %}
        </div>
    {% endif %}
    {% endfor %}
</section>
{% endblock %}