{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock %}
{% block title %}
<title>商品リストページ</title>
{% endblock %}
{% block content %}
<section class="product_section">
    <div class="row">
        <div class="product">
            <a href="">
                <div class="img">
                    <img src="{% static 'images/products/1.webp' %}" alt="">
                </div>
                <div class="description">
                    <div class="color">

                    </div>
                    <h3>クッション</h3>
                    <p>177000円</p>
                </div>
            </a>
        </div>
        <div class="product">
            <a href="">
                <div class="img">
                    <img src="{% static 'images/products/1.webp' %}" alt="">
                </div>
                <div class="description">
                    <div class="color">

                    </div>
                    <h3>クッション</h3>
                    <p>177000円</p>
                </div>
            </a>
        </div>
        <div class="product">
            <a href="">
                <div class="img">
                    <img src="{% static 'images/products/1.webp' %}" alt="">
                </div>
                <div class="description">
                    <div class="color">

                    </div>
                    <h3>クッション</h3>
                    <p>177000円</p>
                </div>
            </a>
        </div>
        <div class="product">
            <a href="">
                <div class="img">
                    <img src="{% static 'images/products/1.webp' %}" alt="">
                </div>
                <div class="description">
                    <div class="color">

                    </div>
                    <h3>クッション</h3>
                    <p>177000円</p>
                </div>
            </a>
        </div>
        

    </div>
</section>
{% endblock %}