{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock %}
{% block title %}
<title>商品リストページ</title>
{% endblock %}
{% block content %}
<section class="product_section">
    {% for product in products %}
    {% if forloop.counter0|divisibleby:"4" %}
        {% if not forloop.first %}
            </div>
        {% endif %}
        <div class="row">
    {% endif %}
        <div class="product">
            <a href="/product/{{ product.id }}">
                <div class="img">
                    <img src="{% static 'images/product_images/' %}{{ product.top_img }}" alt="">
                </div>
                <div class="description">
                    <div class="color">
                        {% for color in product.color_set.all %}
                        <p style="background-color: {{ color.color }};"></p>
                        {% endfor %}
                    </div>
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.price }}円</p>
                </div>
            </a>
        </div>
    {% endfor %}
</section>
    <section class="page">
        {% for i in total %}
            <button><a href="/product/?page={{ i }}">{{ i }}</a></button><i class="fa-solid fa-ellipsis"></i>
        {% endfor %}
    </section>

{% endblock %}