{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}
{% block title %}
<title></title>
{% endblock %}
{% block content %}
<section class="product">
    <div class="product_img">
        <div class="top_img">
            <img src="{% static 'images/product_images/' %}{{ product_data.top_img }}" alt="">
        </div>
        <div class="sub_img_list">
            <div class="sub_img">
                <img src="{% static 'images/product_images/' %}{{ product_data.top_img }}" alt="">
            </div>
            {% for image in product_data.image_set.all %}
                <div class="sub_img">
                    <img src="{% static 'images/product_images/' %}{{ image.image }}" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="description">
        <h1 class="product_name">{{ product_data.name }}</h1>
        <h2 class="price">{{ product_data.price }}円</h2>
        <form method="post">
            {% csrf_token %}
            <h3>色</h3>
            <div class="color">
                {% for color in product_data.color_set.all %}
                    <input type="radio" name="color" id="{{ color.color }}" value="{{ color.color }}">
                    <label for="{{ color.color }}" style="background-color: {{ color.color }};" class="color_label"></label>
                {% endfor %}
            </div>
            <h3>サイズ</h3>
            <div class="select_size">
                {% for size in product_data.size_set.all %}
                    <input type="radio" name="size" id="{{ size.size_name }}" value="{{ size.size_name }}">
                    <label for="{{ size.size_name }}" class="size_label">{{ size.size_name }}</label>
                {% endfor %}
            </div>
            <div class="count">
                <button type="button" class="minus">-</button>
                <input type="number" id="quantity" value="1" min="1" class="spin_erase" name="count">
                <button type="button" class="plus">+</button>
            </div>
            <button type="submit">カートに入れる</button>
            <button type="submit">購入へ進む</button>
        </form>
        
        <div class="text">
            <h3>説明</h3>
            <p>{{ product_data.description }}</p>
        </div>
        <div class="size">

        </div>
    </div>
</section>
<section class="product_section">
    <h1>Read more</h1>
    <div class="row">
        <div class="product">
            <a href="">
                <div class="img">
                    <img src="{% static 'images/products/1.webp' %}" alt="">
                </div>
                <div class="description">
                    <div class="color">

                    </div>
                    <h3>クッション</h3>
                    <p>177000円</p>
                </div>
            </a>
        </div>
        <div class="product">
            <a href="">
                <div class="img">
                    <img src="{% static 'images/products/1.webp' %}" alt="">
                </div>
                <div class="description">
                    <div class="color">

                    </div>
                    <h3>クッション</h3>
                    <p>177000円</p>
                </div>
            </a>
        </div>
        <div class="product">
            <a href="">
                <div class="img">
                    <img src="{% static 'images/products/1.webp' %}" alt="">
                </div>
                <div class="description">
                    <div class="color">

                    </div>
                    <h3>クッション</h3>
                    <p>177000円</p>
                </div>
            </a>
        </div>
        <div class="product">
            <a href="">
                <div class="img">
                    <img src="{% static 'images/products/1.webp' %}" alt="">
                </div>
                <div class="description">
                    <div class="color">

                    </div>
                    <h3>クッション</h3>
                    <p>177000円</p>
                </div>
            </a>
        </div>
        

    </div>
</section>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/product.js' %}"></script>
{% endblock %}