* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
    margin-top: 10vh;
}

header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 95%;
    padding: 2vh 2.5%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    background-color: azure;
}

header .logo {
    width: 10vw;
}

header .logo h1 {
    height: 6vh;
    line-height: 6vh;
    text-align: center;
}

header nav {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    font-family: YuGothic,'Yu Gothic';
}

header nav p {
    /* width: 5vw; */
    line-height: 6vh;
    font-size: 2.3vmin;
}

a {
    text-decoration: none;
    color: inherit;
}

.search  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #FFFF;
    transition: 0.4s;
}

.search form {
    width: 100%;
    display: flex;
    margin: 2vh auto;
    width: 50%;

}

.search input {
    height: 2vh;
    padding: 1vh 1%;
    /* display: block; */
    width: 83%;
}

.search .submit {
    width: 10%;
}

.search .x {
    width: 5%;
    border: none;
    background-color: #FFFF;
}

.side_section {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: none;
    z-index: -1000;
}

.side {
    position: fixed;
    right: 0;
    top: 0;
    width: 16vw;
    padding: 1vh 2vw;
    background-color: #ffff;
    height: 98vh;
    z-index: -1000;
    margin-right: -30vw;
    transition: 0.4s;
}

.side h1 {
    margin: 5vh auto;
    font-size: 5vmin;
    text-align: center;
    border-bottom: 1px solid;
    padding: 2vh 0;
}

.side h2 {
    font-size: 2.5vmin;
    margin: 2vh 0 0.5vh;
}

.side nav ul {
    list-style:none;
}

.side nav p {
    height: 7vh;
    line-height: 7vh;
    padding-left: 1vw;
    font-size: 2vmin;
}

.side nav p:hover {
    background-color: rgba(0,0,0,0.3);
}

footer {
    width: 100%;
    height: 20vh;
    display: flex;
    padding: 5vh 10%;
    width: 80%;
    background-color: #778899;
    margin-top: 10vh;
}

footer .left {
    width: 20%;
}


footer .left .logo h1 {
    text-align: center;
    /* width: 30%; */
}

footer .left nav {
    display: flex;
    justify-content: space-between;
    font-size: 3.2vmin;
    margin-top: 2vh;
}

footer .right {
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-around;
}

footer ul {
    list-style:none;
    height: 100%;
    width: 30%;
}

footer ul li {
    height: 4vh;
    line-height: 4vh;
    transition: 0.4s;
}

footer ul li:hover {
    background-color: rgba(119,136,153,0.7);
}

.show_more {
    width: 10vw;
    font-size: 3vmin;
    height: 6vh;
    display: block;
    margin: 10vh auto 0;
    border: 1px solid;
    transition: 0.4s;
    background-color: #FFFF;
}

.show_more:hover {
    border-radius: 10px;
    background-color: #000;
    color: #FFFF;
}

.top_arrow {
    margin-top: 5vh;
    border: none;
    height: 7vh;
    width: 5vw;
    background-color: #778899;
    font-size: 2.5vmin;
    border-radius: 10px;
    text-align: center;
    /* padding: 1vh 0; */
    line-height: 2.5vh;
    transition: 0.4s;
    cursor: pointer;
}

.top_arrow i {
    font-size: 4vmin;
}

.top_arrow:hover {
    background-color: #FFFF;
}