
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f4f4f9;
    /* margin: 0;
    padding: 0; */
    margin-top: 15vh;
  }
  
  .cart-page {
    width: 58vw;
    margin: 10vh 30vw 0 auto;
    padding: 1vh 1vw;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 43vh;
  }

  .none_product {
    color: #666;
    text-align: center;
    font-size: 3vmin;
    font-weight: 300;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
  }
  
  .product-image {
    width: 6.5vw;
    height: auto;
    border-radius: 10px;
  }
  
  .product-details {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .product-name {
    font-size: 2.5vmin;
    color: #333;
    margin: 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }

  .price {
    font-size: 2vmin;
    color: #666;
  }
  
  .product-color {
    font-size: 2vmin;
    color: #666;
  }
  
  .color-swatch {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 5px;
  }
  
  .quantity-selector {
    display: flex;
    align-items: center;
  }
  
  .quantity-minus, .quantity-plus  {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 16px;
  }
  
  .quantity-input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .quantity-input::-webkit-inner-spin-button,
  .quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none!important;
  margin: 0!important;
  -moz-appearance:textfield!important;
  }
  
  .product-price {
    font-size: 2.5vmin;
    color: #333;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .pay {
    position: fixed;
    top: calc(10vh + 50px);
    right: 2.5vw;
    width:20vw;
    padding: 5vh 2.5vw;
    height: 40vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .pay p {

  }

  .pay button {
    width: 100%;
    height: 5vh;
    display: block;
    border-radius: 10px;
  }

