

section {
    /* margin-top: 5vh; */
}

.slider_section {
    width: 80%;
    height: 90vh;
    padding-left: 19%;
    /* margin: 0 auto; */
    position: relative;
}

.catchphrase {
    position: absolute;
    top: 30vh;
    left: 10vw;
    height: 15vh;
    font-size: 5vmin;
    line-height: 7.5vh;
    font-family: 'Trebuchet MS';
}

.catchphrase p:nth-child(2) {
    padding-left: 4vw;
}

.slider {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.slick-slide, .slick-list, .slick-track {
    height: 100%!important;
}

.slick-slide img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    object-fit: cover;
}

.slick-dots {
    top: 83vh;
    left: -50vw;
    font-size: 3vmin;
}


.product_section {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.product_section h3 {
    font-size: 2vmin;
    height: 6vh;
    line-height: 3vh;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.product_section .row {
    width: 100%;
    /* height: ; */
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}

.product_section .row:nth-child(1) {
    margin-top: 0;
}

.product_section .row .product {
    width: 20vw;
    height: 53vh;
}

.product_section .row .product .img {
    width: 100%;
    height: 40vh;
}

.product_section .row .product img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

.product .description  {
    height: 15vh;
}

.product .description .color {
    display: flex;
    justify-content: flex-start;
    margin: 0.5vh 0;
}

.product .description .color p {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border:1px solid;
    margin-left: 5px;
}

.product .description .color p:nth-child(1) {
    margin-left: 0;
}

.category {
    width: 80%;
    margin: 10vh auto 0;
    text-align: center;
}

.category h1 {
    font-size: 3vmin;
    margin: 5vh auto;
}

.category p {
    height: 40vh;
    line-height: 40vh;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    /* left: 40%; */
    color: #FFFF;
    font-size: 3vmin;
    background-color: rgba(0,0,0,0.5);
}

.category a {
    color: inherit;
    text-decoration: none;
}

.category img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

.category .all {
    width: 100%;
    height: 40vh;
    position: relative;
}

.category .category2 {
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: space-between;
    margin-top: 5vh;
}

.category .category2 div {
    width: 30%;
    position: relative;
}